.env

# .NET build artifacts
.bin/
obj/
*.dll
*.exe
*.pdb

.Output/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet packages
*.nupkg
**/packages/*
project.lock.json
project.assets.json

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
